.play-button{
    display: block;
    background-color: red;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    font-size: 40px;
    font-weight: bold;
    margin: 10px;
} 